@import "tailwindcss";

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#f6f3ec;
}

.front-page{
    min-height:100vh;
}

.container{
    display:flex;
    width:100%;
    min-height:100vh;
}

/* LEFT PANEL */

.left-panel{
    flex:1;
    background:#000;
    color:white;
    padding:60px;

    display:flex;
    flex-direction:column;
}

.header{
    font-size:32px;
    font-weight:bold;
    margin-bottom:90px;
}

.hero-title{
    font-size:56px;
    line-height:1.15;
    font-weight:700;
}

.orange-text{
    color:#ff7a1a;
}

.description{
    margin-top:30px;
    color:#d6d6d6;
    line-height:1.8;
    font-size:18px;
    max-width:520px;
}

.feature-list{
    list-style:none;
    margin-top:45px;
}

.feature-item{
    font-size:22px;
    margin-bottom:22px;
}

.footer{
    margin-top:auto;
    color:#9e9e9e;
    font-size:16px;
}

/* RIGHT PANEL */

.right-panel{
    flex:1;
    background:white;

    display:flex;
    justify-content:center;
    align-items:center;

    padding:60px;
}

.form-container{
    width:420px;
}

.welcome-title{
    font-size:48px;
    font-weight:700;
    margin-bottom:12px;
    text-align:center;
}

.welcome-subtitle{
    color:#7d7d7d;
    margin-bottom:35px;
    text-align:center;
}

/* LOGIN / SIGNUP BUTTONS */

.button-group{
    display:flex;
    background:#ece5dd;
    padding:5px;
    border-radius:999px;
    margin-bottom:35px;
}

.tab-button{
    flex:1;
    border:none;
    background:none;
    padding:14px;
    border-radius:999px;
    cursor:pointer;
    font-size:16px;
}

.active-tab{
    background:white;
    font-weight:600;
}

/* FORM */

.login-form{
    width:100%;
}

.form-group{
    display:flex;
    flex-direction:column;
    margin-bottom:20px;
}

.form-group label{
    margin-bottom:8px;
    font-weight:500;
}

.form-group input{
    width:100%;
    padding:15px;
    border:1px solid #ddd;
    border-radius:14px;
    outline:none;
    font-size:15px;
}

.form-group input:focus{
    border-color:black;
}

.forgot-password{
    text-align:right;
    color:#777;
    margin-bottom:25px;
    cursor:pointer;
}

.login-btn{
    width:100%;
    border:none;
    background:black;
    color:white;
    padding:15px;
    border-radius:12px;
    font-size:16px;
    cursor:pointer;
}

.login-btn:hover{
    background:#222;
}

.signup-text{
    text-align:center;
    margin-top:22px;
}

.signup-btn{
    border:none;
    background:none;
    color:#ff7a1a;
    font-weight:600;
    cursor:pointer;
    margin-left:5px;
}

.signup-btn:hover{
    text-decoration:underline;
}

/* RESPONSIVE */

@media (max-width:900px){

.container{
    flex-direction:column;
}

.left-panel,
.right-panel{
    width:100%;
}

.left-panel{
    padding:40px;
}

.hero-title{
    font-size:42px;
}

.form-container{
    width:100%;
    max-width:420px;
}

}